   header {
       background-color: #ffff;
       color: #000;
       padding: 10px 20px;
   }

   nav {
       display: flex;
       align-items: center;
   }

   nav a {
       color: #0000ff;
       text-decoration: none;
       margin-right: 20px;
       font-weight: bold;
   }

   nav a:hover {
       text-decoration: underline;
   }